@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap);
:root {
  /* Color */
  --lightest: #9fe06d;
  --black: linear-gradient(170deg, rgba(0,0,0,1) 10%, rgba(64,33,85,1) 21%, rgba(55,45,57,1) 87%, rgba(0,0,0,1) 100%);

  /* Width */
  --lg: 80rem;
  --md: 50rem;
  --sm: 30rem;
}

/*
  Base
*/

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: var(--lightest);
  background: var(--black);
  font-weight: 300;
  box-sizing: border-box;
}

body {
  margin: 0;
}


h1, h2 {
  margin-top: 0;
  font-weight: 600;
}

h1 {
  font-size: calc(0.8rem + 3vw);
}

h2 {
  font-size: calc(1.2rem + 2vw);
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  color: var(--lightest);
}

input,
textarea {
  font-family: inherit;
  color: inherit;
  padding: .2rem .5rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid;
}

input[type=submit] {
  cursor: pointer;
  margin-top: 2rem;
  align-self: center;
}

/*
  Utils, helpers
*/

.u-list-reset {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.container h1 span.cursor {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
.container h1 span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: rgb(255, 255, 255); }
  49% { background-color: rgb(255, 255, 255); }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: rgb(255, 255, 255); }
}

/*
  Logo
*/

.logo {
  font-size: 2rem;
  justify-self: end;
  grid-area: logo;
  position: sticky;
  top: 0;
  left: 0;
}

/*
  Button
*/

.btn {
  padding: 1rem 2rem;
  border: 1px solid var(--lightest);
  transition: all .2s;
}

.btn:hover {
  background-color: var(--lightest);
  color: black;
}

/*
  Section
*/

.section {
  padding: 6rem 0;
  overflow-x: hidden;
}

.section--intro {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section--article {
  padding-bottom: 0;
}

.section--footer {
  padding-bottom: 3rem;
}

/*
  Overlay
*/

.overlay {
  position: relative;
}

.overlay:before {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: brightness(.8);
}

.overlay--intro:before {
  background-image: url("Procyon Intro.png");
  filter: brightness(1);

}

.overlay--contact:before {
  background-image: url("Procyon Contact.png");
  filter: brightness(.5);
}

/*
  Footer nav
*/

.footer-nav__list {
  display: grid;
  padding-left: 0;
  list-style: none;
  gap: 1.5rem;
  grid-template-columns: 1fr;
}

@media (min-width: 50rem) {
  .footer-nav__list {
    grid-template-columns: 1fr 1fr;
  }
}

/*
  Address
*/

.address__list {
  padding-left: 0;
  list-style: none;
  display: grid;
  gap: 1.5rem;
}

/*
  Wrapper
*/

.wrapper {
  max-width: var(--lg);
  margin: 0 auto;
  padding: 0 1.5rem;
}

.wrapper--intro {
  margin: 12rem auto;
  text-align: center;
}

.wrapper--footer {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  align-items: flex-start;
}

.wrapper--copyright {
  margin-top: 4.5rem;
  text-align: center;
}

.wrapper--nav-area {
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-areas:
  "menuButton . logo"
  "menu menu menu";
}

@media (max-width: 49.999rem) {
  .wrapper--nav-area {
    grid-template-rows: auto 1fr;
  }

  .site-nav--is-open .wrapper--nav-area{
    height: calc(100vh - 1rem);
  }
}

@media (min-width: 30rem) {
  .wrapper--footer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 50rem) {
  .wrapper--footer {
    grid-template-columns: 1fr 2fr;
  }

  .wrapper--nav-area {
    grid-template-areas: "menu logo";
  }
}

/*
  Title
*/

.title {
  text-align: center;
}

.title--article {
  margin-bottom: 6rem;
  position: relative;
}

.title--article:after {
  content: "";
  display: block;
  width: 5rem;
  height: 1px;
  background-color: var(--lightest);
  margin: 2rem auto 0;
}

.title--intro {
  margin-bottom: 4rem;
}

/*
  Article
*/

.excerpt {
  row-gap: 1.5rem;
  grid-template-columns: 1.5rem 1fr 1.5rem;
  grid-template-areas:
  "image image image"
  ". text .";
  display: grid;
  align-items: center;
  margin-bottom: 6rem;
}

.excerpt--reverse {
  justify-items: center;
  grid-template-areas:
  ". image ."
  ". text .";
}

@media (min-width: 50rem) {
  .excerpt {
    grid-template-columns: 3rem 1fr calc(2rem + 5%) 1fr 3rem;
    grid-template-areas:
    "image image . text .";
  }

  .excerpt--reverse {
    justify-items: stretch;
    grid-template-areas:
    ". text . image image";
  }
}

.excerpt__image-wrapper {
  overflow-x: hidden;
  grid-area: image;
  justify-self: center;
  display: flex;
}

.excerpt__text-wrapper {
  grid-area: text;
  max-width: 40rem;
  justify-self: center;
}

@media (min-width: 50rem) {
  .excerpt__text-wrapper {
    justify-self: flex-start;
  }

  .excerpt--reverse .excerpt__text-wrapper {
    justify-self: flex-end;
  }

  .excerpt__image-wrapper {
    justify-self: flex-end;
  }

  .excerpt--reverse .excerpt__image-wrapper {
    display: flex;
    justify-self: flex-start;
  }
}

/*
  Form
*/

.contact-form {
  width: 100%;
  max-width: var(--sm);
}

.contact-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

/*
  Site nav
*/

.site-nav {
  position: sticky;
  top: 0;
  left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
  z-index: 3;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.342);
  background: #41133346;
}

.site-nav__menu {
  grid-area: menu;
}

.site-nav__link {
  padding: 1rem;
  display: block;
}

@media (max-width: 49.999rem) {
  .site-nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
  }

  .site-nav__menu {
    display: none;
    flex-direction: column;
    margin: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
    animation-duration: .2s;
    animation-timing-function: ease-in-out;
  }

  .site-nav__link {
    font-size: calc(1.2rem + 3vw);
  }

  .site-nav--is-open {
    height: 100vh;
    overflow-y: auto;
  }

  .site-nav--is-open .site-nav__menu {
    display: flex;
  }
}

@media (min-width: 50rem) {
  .site-nav__menu {
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}

.fade-in {
  animation-fill-mode: forwards;
  animation-name: fade;
}

.fade-out {
  animation-fill-mode: backwards;
  animation-name: fade;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*
  Curtain
*/

.site-nav__curtain {
  visibility: hidden;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: #fff;
  border-radius: 50%;
  transform: translateY(100%) scale(0);
  animation-duration: .6s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.curtain-up {
  animation-name: curtainUp;
}

.curtain-down {
  animation-name: curtainDown;
}

@media (min-width: 50rem) {
  .site-nav__curtain {
    visibility: hidden;
    transform: translateY(100%) scale(0) !important;
  }
}

@keyframes curtainUp {
  0% {
    border-radius: 50%;
    transform: translateY(100%) scale(1);
    visibility: visible;
    opacity: 1;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    transform: translateY(0%) scale(3, 1);
    visibility: visible;
    opacity: 1;
    border-radius: 0;
  }
}

@keyframes curtainDown {
  0% {
    border-radius: 0;
    transform: translateY(0%) scale(3, 1);
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
    border-radius: 50%;
  }
  99% {
    transform: translateY(100%) scale(0);
    visibility: visible;
    opacity: 1;
  }
  100% {
    transform: translateY(100%) scale(0);
    opacity: 0;
    visibility: hidden;
  }
}

/*
  Menu button
*/

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: .5rem 0 .5rem 2rem;
  color: var(--lightest);
  position: sticky;
  left: 0;
  top: 0;
  align-self: normal;
  justify-self: start;
  z-index: 10;
  grid-area: menuButton;
}

.menu-button:active {
  transform: translateY(-.2rem);
}

@media (min-width: 50rem) {
  .menu-button {
    display: none;
  }
}

.menu-button__lines {
  display: grid;
  gap: 5px;
  transition: all .2s ease;
  position: absolute;
  left: 0;
}

.menu-button__lines--open {
  gap: 0;
}

.menu-button__line {
  display: block;
  transition: .2s ease;
  content: '';
  width: 1.2rem;
  height: 2px;
  background-color: var(--lightest);
  transform-origin: center;
}

.menu-button:hover .menu-button__lines {
  gap: 8px;
}

.menu-button__lines--open .menu-button__line {
  grid-row-start: 1;
  grid-column-start: 1;
  transform: rotate(45deg) scale(1.6);
}

.menu-button__lines--open .menu-button__line:nth-child(3) {
  transform: rotate(-45deg) scale(1.6);
}